.num-header{
    padding: 0 10px;
}
.num_total{
    font-size: 14px;
    font-weight: bold;
}
.num_total .order_amount{
}
.num_total .order_num{
    margin-left: 30px;
}
.fgquerybox{
    margin-top: 20px;
    margin-bottom: 0;
}
.col-md-1 .fgsearchbtn{
    margin-left: -30px;
    margin-top: 45px;
}
.inputbtnbox{
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
}
.clearbtnbox{
    display: block;
    margin-top: 45px;
    margin-bottom: 0;
}
.containerbox{
    width: 100%;
    padding: 0 10px;
}
/*导航处小红点 begin*/
.reddot{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f32800;
    margin-left: 10px;
    display: none;
}
.has_dot .reddot
{
    display: inline-block;
}
/*导航处小红点 end*/

/*登录页面 begin*/
body.login-page{
    background: url("../images/login_bg5.jpg") no-repeat;
    background-size: 100% auto;
}
.login-page .has-feedback .l-captcha{
    position: relative;
    margin: 0 auto;
}
.login-page .has-feedback input{
    width: 300px;
    height: 44px;
    position: relative;
    margin: 0 auto;
}
.login-page .has-feedback .glyphicon{
    right:10px;
    top: 5px;
}
.login-page .login-logo{font-size: 33px;margin-bottom: 15px;}
.login-page .loginbtn{width: 91%;}
/*登录页面 end*/

/*上传图片底部按钮解决 begin*/
.files-group{
    overflow: hidden;
}
/*上传图片底部按钮解决 end*/


/*备注编辑 begin*/
.edit_modal textarea{
    width: 100%;
    height: 200px;
    border:0;
}
.edit_modal .modal-content{
    top: 100px;
}
.dataTables_wrapper .bluebtn{color: #3c8dbc;cursor: pointer;}
/*备注编辑 end*/

/*评论管理宽度 begin*/
.dataTables_wrapper .commentstr{
    max-width: 200px;
    width: 150px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
/*评论管理宽度 end*/